<!-- Primary Meta Tags -->
<title>md-view</title>
<meta name="title" content="md-view">
<meta name="description" content="view markdown in the browser">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://md-view.app/">
<meta property="og:title" content="md-view">
<meta property="og:description" content="view markdown in the browser">
<meta property="og:image" content="https://md-view.app/favicon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://md-view.app/">
<meta property="twitter:title" content="md-view">
<meta property="twitter:description" content="view markdown in the browser">
<meta property="twitter:image" content="https://md-view.app/favicon.png">