<div class="markdown-body">
    <form action="/">
        <input 
            type="text" 
            name="url" 
            onfocus="this.value=''" 
            value="enter markdown URL and press return"
            style="max-width:700px !important;" />
        <input type="submit" style="display: none" />
    </form>
    {{#if message}}
        <p class="message">{{message}}</p>
    {{/if}}
</div>