<!-- markdown content -->
<div class='markdown-body'>
    <div id='navContainer'>
    <a class='nav' id='copy' href='#' data-clipboard-text='{{mdFileURL}}'>Copy URL</a><br>
    <a class='nav' href='{{mdFileURL}}' download target='_blank'>Download .md</a>
    </div>
    {{{mdHTML}}}
</div>
{{> clipboardJs}}